body {
    font-family: Arial, sans-serif;
    background: #2e0404;
    text-align: center;
    
}

/* Buttons */
.open-popup {
    padding: 10px 25px;
    margin: 5px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.open-popup:hover {
    background: #45a049;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 10;
}

/* Popups */
.popup {
    width: 370px;
    padding: 19px;
    background: white;
    box-shadow: -1px 4px 18px 23px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translate(-50%, -60%);}
    to {opacity: 1; transform: translate(-50%, -50%);}
}

.popup h2 {
    margin-bottom: 10px;
}

.sub-title {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup .btn {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.popup .btn:hover {
    background: #45a049;
}

/* Close Button */
.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
}
